.hexagons path {
  stroke: var(--primary);
}
#right-hex,
#left-hex {
  width: clamp(200px, 40vw, 500px);
  height: clamp(200px, 40vw, 500px);
}
#background-left {
  pointer-events: none;
  position: fixed;
  z-index: -1;
  left: -10%;
  bottom: -25%;
  width: clamp(200px, 40vw, 500px);
  aspect-ratio: 1;
  transform: rotate(60deg);
  animation: rotateHex infinite 40s linear;
}
#background-right {
  position: fixed;
  z-index: -1;
  pointer-events: none;
  right: -10%;
  top: -10%;
  width: clamp(200px, 40vw, 500px);
  aspect-ratio: 1;
  animation: rotateHex infinite 40s linear;
}
@keyframes rotateHex {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#toggle ~ .navbar-toggle svg #hamburger-menu #burger * {
  stroke: var(--light-200);
  transition: stroke 0.01s ease-in-out, transform 0.1s ease-in-out 0.1s;
}
#toggle:checked ~ .navbar-toggle svg #hamburger-menu #burger #low {
  transform: translateY(-22px);
}
#toggle:checked ~ .navbar-toggle svg #hamburger-menu #burger #top {
  transform: translateY(22px);
}
#toggle:checked ~ .navbar-toggle svg #hamburger-menu #burger * {
  stroke: transparent;
  transition: transform 0.1s ease-in-out, stroke 0.01s ease-in-out 0.1s;
}
#toggle ~ .navbar-toggle svg #hamburger-menu #close {
  stroke: transparent;
  transform-origin: center;
  transform: rotate(135deg);
  transition: stroke 0.01s ease-in-out 0.1s, transform 0.1s ease-in-out;
}
#toggle:checked ~ .navbar-toggle svg #hamburger-menu #close {
  stroke: var(--light-200);
  transform: rotate(0deg);
  transition: stroke 0.01s ease-in-out, transform 0.2s ease-in-out 0.1s;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--dark-100);
  z-index: 1000;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: visible;
  opacity: 1;
  transition: all 0.5s ease-in 1s;
}
.loader svg {
  width: 200px;
  height: 100px;
}
.loader svg #loader-container * {
  transition: all 0.6s ease-in-out;
}

.loader svg #loader-container #right-arrow {
  transform: translateX(0px);
}
.loader svg #loader-container #left-arrow {
  transform: translateX(0px);
}
.loader svg #loader-container #slash {
  transform: scale(1);
  transform-origin: center;
  /* opacity: 0; */
}
.loader svg #loader-container #text {
  opacity: 0;
  transition: all 0.8s ease-in-out 0.4s;
}

.remove-loader svg #loader-container #right-arrow {
  stroke: var(--primary);
  transform: translateX(50px);
}
.remove-loader svg #loader-container #left-arrow {
  stroke: var(--primary);
  transform: translateX(-50px);
}
.remove-loader svg #loader-container #slash {
  transform: scale(0);
  transform-origin: center;
  /* opacity: 0; */
}
.remove-loader svg #loader-container #text {
  opacity: 1;
}
.remove-loader {
  visibility: hidden;
  opacity: 0;
}
